@model IncidentReporting.Models.Nearmiss

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nearmiss</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationIncident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationIncident)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EyeWitness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeWitness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrvMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrvMeasure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNearmiss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNearmiss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarkHod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarkHod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
