@*@model IEnumerable<IncidentReporting.Models.Departmental>*@
@model PaginatedList<IncidentReporting.Models.Departmental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h4>Departmental Occurrences</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Period/Div: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.RequestId)*@
                Incident Year
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Project)*@
                Project
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Period)*@
               @* <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Period)</a>*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Period</a>
            </th>
            <th>
             
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Incident Date</a>
            </th>
            <th>
              
                Department
            </th>
             <th>
              
                Location of Incident
            </th>
            <th>
              
                Name of Person Affected
            </th>
            @*
            <th>
               
                Address of Person
            </th>
            <th>
               
                Designation
            </th>
            <th>
               
               Age
            </th>
            <th>
             
                Sex
            </th>
            <th>
              
                Nature of Injury
            </th>*@
            <th>
                
                Cause of Incident
            </th>
            @*<th>
              
                Nature of Duty
            </th>
            <th>
              
                Service Length
            </th>
            <th>
              
                Emp Posture
            </th>
            <th>
             
                Name of Eye Witness
            </th>
            <th>
              
                Eye Witness Division
            </th>
            <th>
               
                Employer Name
            </th>
            <th>
                
                Exp Disablement
            </th> *@
            <th>
                @*@Html.DisplayNameFor(model => model.Remark)*@
                Remark
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.StatusDepartmental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemarkHod)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@
                Status Accident
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationIncident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePersonAffected)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.AddressPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NatureInjury)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CauseIncident)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.NatureofDuty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPosture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEyeWitness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyeWitnessDivision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDisablement)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.StatusDepartmental)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemarkHod)
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.StatusDepartmental)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 @*<a asp-action="Action" asp-route-id="@item.Id">Action</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>